In [1]:
import pandas as pd
import numpy as np

### 구구단을 출력하고 결과를 리스트에 저장하자

In [9]:
a = []

for i in range(2,10):
    res = []
    for j in range(1,10):
        res.append(i*j)
    a.append(res)

for res in a:
    print(res)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[4, 8, 12, 16, 20, 24, 28, 32, 36]
[5, 10, 15, 20, 25, 30, 35, 40, 45]
[6, 12, 18, 24, 30, 36, 42, 48, 54]
[7, 14, 21, 28, 35, 42, 49, 56, 63]
[8, 16, 24, 32, 40, 48, 56, 64, 72]
[9, 18, 27, 36, 45, 54, 63, 72, 81]

### 위 결과를 numpy로 저장하고 파일로 저장하자

In [29]:
### 배열을 파일로 저장 savetxt : 구분자를 추가하면 csv로 저장할 수 있다
np_a = np.array(a)
np_a

np.savetxt('res/np_a.csv', np_a, fmt='%d', delimiter=',')

array([[ 2,  4,  6,  8, 10, 12, 14, 16, 18],
       [ 3,  6,  9, 12, 15, 18, 21, 24, 27],
       [ 4,  8, 12, 16, 20, 24, 28, 32, 36],
       [ 5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 6, 12, 18, 24, 30, 36, 42, 48, 54],
       [ 7, 14, 21, 28, 35, 42, 49, 56, 63],
       [ 8, 16, 24, 32, 40, 48, 56, 64, 72],
       [ 9, 18, 27, 36, 45, 54, 63, 72, 81]])

### 위 결과를 pandas 로 저장하고 파일로 저장하자

In [24]:
pd_a = pd.DataFrame(a)
pd_a
pd_a.to_csv('res/pd_a.csv', index = False , header = False)

### 위 결과를 numpy 로 파일로 읽어오자

In [28]:
np.loadtxt('res/np_a.csv',delimiter =",",dtype = 'int')

array([[ 2,  4,  6,  8, 10, 12, 14, 16, 18],
       [ 3,  6,  9, 12, 15, 18, 21, 24, 27],
       [ 4,  8, 12, 16, 20, 24, 28, 32, 36],
       [ 5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 6, 12, 18, 24, 30, 36, 42, 48, 54],
       [ 7, 14, 21, 28, 35, 42, 49, 56, 63],
       [ 8, 16, 24, 32, 40, 48, 56, 64, 72],
       [ 9, 18, 27, 36, 45, 54, 63, 72, 81]])

### 위 결과를 pandas 로 파일을 읽어오자

In [31]:
pd.read_csv('res/pd_a.csv' , header = None)

   0   1   2   3   4   5   6   7   8
0  2   4   6   8  10  12  14  16  18
1  3   6   9  12  15  18  21  24  27
2  4   8  12  16  20  24  28  32  36
3  5  10  15  20  25  30  35  40  45
4  6  12  18  24  30  36  42  48  54
5  7  14  21  28  35  42  49  56  63
6  8  16  24  32  40  48  56  64  72
7  9  18  27  36  45  54  63  72  81

### 결과를 pandas를 활용해서 파일로 2dan.txt ~ 9dan.txt저장한다

In [85]:
gugudan = pd.read_csv('res/pd_a.csv',header = None)
#gugudan

for i in range(2,10):
    dan_result = gugudan[i-2]
    #print(dan_result)
    
    with open(f'res/{i}단.txt','w') as file:
        for idx, value in enumerate(dan_result,start = 1):
             file.write(f'{i} x {idx} = {value}\n')
            
    print(f'{i}의 결과를 저장했다')

2의 결과를 저장했다
3의 결과를 저장했다
4의 결과를 저장했다
5의 결과를 저장했다
6의 결과를 저장했다
7의 결과를 저장했다
8의 결과를 저장했다
9의 결과를 저장했다

In [69]:
data = pd.Series([10,20,30,40,50],index=['A','B','C','D','E'])
print(data)

A    10
B    20
C    30
D    40
E    50
dtype: int64

### 2dan.txt ~ 9dan.txt을 murge_final.txt로 합치자

In [102]:


def extract_dan(file):
    with open(file,'r') as file:
        lines = file.readlines()
        dan_lines  = [line.strip() for line in  lines if line.strip() != ""]
        return dan_lines

final = []
for i in range(2,10):
            filename = f'res/{i}단.txt'
            dan_lines = extract_dan(filename)
            final.extend(dan_lines)


with open(f'res/murge_final.txt','w') as file:
        for dan_lines in final:
            file.write(dan_lines+"\n")

In [99]:
str = '''
2 x 1 = 2
2 x 2 = 3
2 x 3 = 4
'''
str

'\n2 x 1 = 2\n2 x 2 = 3\n2 x 3 = 4\n'

In [100]:
str.strip()

'2 x 1 = 2\n2 x 2 = 3\n2 x 3 = 4'