In [1]:
import pandas as pd
import numpy as np

In [14]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [3]:
x= pd.DataFrame({'X1':[1,2,3,4,5] , 'X2':[10,20,30,40,50]} )
x

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [4]:
# 인스턴스 객체 생성
scaler = StandardScaler()

#표준화를 실행한 다음 array로 리턴
z = scaler.fit_transform(x)
z

array([[-1.41421356, -1.41421356],
       [-0.70710678, -0.70710678],
       [ 0.        ,  0.        ],
       [ 0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356]])

In [5]:
type(z)

numpy.ndarray

In [6]:
pd.DataFrame(z) #표준편차가 같기 떄문에 스케일링 결과가 같게 나온다

          0         1
0 -1.414214 -1.414214
1 -0.707107 -0.707107
2  0.000000  0.000000
3  0.707107  0.707107
4  1.414214  1.414214

In [7]:
z.mean()

0.0

In [8]:
z.std()

0.9999999999999999

### MinMaxScaler
    - 최소값과 최대값이 균일하게 나올 때 사용가능 / 이상치에 민감하다

In [10]:
x1=np.array([1,2,3,4,5])
x2=x1*10

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html#sklearn.preprocessing.MinMaxScaler
#X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
#X_scaled = X_std * (max - min) + min

In [13]:
z1=(x1-x1.min()) / (x1.max() - x1.min())
z2=(x2-x2.min()) / (x2.max() - x2.min())
print(z1)
print(z2)

[0.   0.25 0.5  0.75 1.  ]
[0.   0.25 0.5  0.75 1.  ]

In [18]:
minmax = MinMaxScaler()
z = minmax.fit_transform(x)
pd.DataFrame(z)

      0     1
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00